#titlebar{width:100vw;height:15px;-webkit-app-region:drag;display:flex;align-items:flex-start;justify-content:flex-end;background:black}
.titlebar{height:15px;width:15px;-webkit-app-region:no-drag;cursor:pointer;display:flex}
.titlebar:hover{opacity:100%}
body{background:#202020;font-size:10px;color:white;font-family:consolas;height:100vh;width:100vw}
*{margin:0;overflow:hidden;white-space:nowrap;overflow-x:hidden}
* p{display:flex;user-select:none}
.resize{position:absolute;resize:horizontal;height:-webkit-fill-available;width:100px;max-width:100vw}

#access{height:-webkit-fill-available;width:100%;background:#191919;position:absolute;overflow-y:auto}
#access .case{display:flex;flex-direction:column;width:100vw} 
.case div{margin-left:10px;cursor:pointer;border-left:1px solid #ffffff40;padding-left:2.5px}
.case svg{margin:1px;margin-right:2.5px;place-self:auto}

svg{place-self:center;stroke-width:0.5px}
::-webkit-scrollbar{width:2px}
::-webkit-scrollbar-track{background:transparent}
::-webkit-scrollbar-thumb{background:#ffffff40;border-radius:20%}
::-webkit-scrollbar-thumb:hover{background:grey}